[{:bike_station_name "Green Street, Mayfair"
  :id "BikePoints_138"
  :distance 1}
 {:bike_station_name "Park Lane , Hyde Park"
  :id "BikePoints_111"
  :distance 2}
 {:bike_station_name "Upper Grosvenor Street, Mayfair"
  :id "BikePoints_389"
  :distance 3}
 {:bike_station_name "Portman Square, Marylebone"
  :id "BikePoints_514"
  :distance 4}
 {:bike_station_name "George Place Mews, Marylebone"
  :id "BikePoints_403"
  :distance 5}
 {:bike_station_name "Porchester Place, Paddington"
  :id "BikePoints_169"
  :distance 6}
 {:bike_station_name "Park Lane , Hyde Park"
  :id "BikePoints_111"
  :distance 7}
 {:bike_station_name "Millennium Hotel, Mayfair"
  :id "BikePoints_366"
  :distance 8}
 {:bike_station_name "Grosvenor Square, Mayfair"
  :id "BikePoints_348"
  :distance 9}
 {:bike_station_name "Nutford Place, Marylebone"
  :id "BikePoints_188"
  :distance 10}
 {:bike_station_name "Hinde Street, Marylebone"
  :id "BikePoints_210"
  :distance 11}]
